workflow/YouTube播放列表视频下载的子流程.json
{
  "name": "YouTube播放列表视频下载的子流程",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        576,
        112
      ],
      "id": "91205045-dfbb-41b3-9b5f-0846b87c17ba",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DbmLm4SoJXGWVVcb",
          "mode": "list",
          "cachedResultUrl": "/workflow/DbmLm4SoJXGWVVcb",
          "cachedResultName": "YouTube视频下载的子流程-v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "type": "download_video",
            "url": "={{ $json.url }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        912,
        128
      ],
      "id": "a5ad1ae8-1d0a-4704-8ade-fb7f2d96bae2",
      "name": "Call 'YouTube视频下载的子流程-v2'",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1072,
        128
      ],
      "id": "c158a486-46d2-48f5-bcb2-1088a1642be8",
      "name": "Wait",
      "webhookId": "99467a11-74a0-4660-9368-dd804c1b6565"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let url = $input.item.json.url;\n\nconst regex = /[?&]v=([^&#]+)/;\nconst match = url.match(regex);\n\nif (match && match[1]) {\n    let videoId = match[1];\n    // 2. 重新拼接成最干净的地址\n    url = \"https://www.youtube.com/watch?v=\" + videoId;\n}\n\n// TODO: 如果是 short 链接或其他格式 (如 https://youtu.be/xxx)\n\nreturn {\"url\": url};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        128
      ],
      "id": "d0459a0d-9f2d-4f7d-a30d-c0b5c3809240",
      "name": "normalizeYoutubeUrl"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        800,
        -48
      ],
      "id": "3736b7ab-7548-4d40-b520-00aeca5bca6e",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        288,
        112
      ],
      "id": "8e7b7a38-3e24-47e4-82ac-f4f2441c5874",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "resource": "base",
        "operation": "searchRecords",
        "app_token": {
          "__rl": true,
          "value": "AxGJbkUoIaQMfYsvbE5c9EW0n2d",
          "mode": "id"
        },
        "table_id": {
          "__rl": true,
          "value": "tbltPk5Cj7FQAsTv",
          "mode": "id"
        },
        "body": "={\n\t\"automatic_fields\": false,\n    \"fields\": [],\n\t\"filter\": {\n\t\t\"conditions\": [\n\t\t\t\n\t\t],\n\t\t\"conjunction\": \"and\"\n\t}\n}",
        "options": {}
      },
      "type": "n8n-nodes-feishu-lark.lark",
      "typeVersion": 1,
      "position": [
        144,
        112
      ],
      "id": "924c0ed2-431e-49ff-b098-303a79a5f54b",
      "name": "list",
      "webhookId": "c11d69e2-4b19-4bca-81d6-68b03e97e68f",
      "credentials": {
        "larkApi": {
          "id": "Di5S1lJsbGV9p2Es",
          "name": "YouTube视频下载"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        112
      ],
      "id": "3bbf52f2-6cf6-49ac-8364-bdbb1a909cf1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dbc45bef-1b72-4601-acf7-d8f839cddc93",
              "name": "url",
              "value": "=https://www.youtube.com/watch?v={{ $json.fields.videoId[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        112
      ],
      "id": "e05ef606-8ef5-4c76-8608-a5f63a1c04d5",
      "name": "url"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "normalizeYoutubeUrl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'YouTube视频下载的子流程-v2'": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalizeYoutubeUrl": {
      "main": [
        [
          {
            "node": "Call 'YouTube视频下载的子流程-v2'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "list": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "url": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e6e50606-74bc-45b9-b986-01c28db9487f",
  "meta": {
    "instanceId": "87c5468c68acc2763dd134022a22888a4c71833e945f0b8294dfe741e5a4ccc5"
  },
  "id": "uuEADiLmFrvhpeZldHg-i",
  "tags": []
}